<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
   <div id="content" class="sub_wrap my_wrap">
    <p class="sub_title">예약 내역</p>

    <!-- Nav -->
        <nav>
        <ul>
            <li><a class="" href="/my/coupon">쿠폰함</a></li>
            <li><a class="active" href="/my/reserveList">예약 내역</a></li>
            <li><a class="" href="/my/mypage">내 정보 관리</a></li>
            <!-- <li><a class="active" href="/my/mypage">내 정보 관리</a></li> -->
        </ul>
    </nav>

    <div class="align_rt">

        <!-- 예약 내역 : hide -->
                <!-- 리스트 없을시 : show -->
        <div class="list_none" style="display: block;">
            예약 내역이 없습니다.<br><br><br>
            <b>예약 가능한<br>주변 맛집들을 지금 만나세요!</b>
            <p><a href="https://www.goodchoice.kr/" class="btn_red">다양한 맛집 보러가기</a></p>
        </div>

        
    </div>

</div>


</body>
</html>